@model WorkFlow_Task2.Models.FeeChalan
@{
    ViewBag.Title = "GenerateChalan";
}

<h2>Fee Chalan</h2>

<div>
    <label>Roll No:</label>
    <span>@Model.RollNo</span>
</div>

<div>
    <label>Name:</label>
    <span>@Model.Name</span>
</div>

<div>
    <label>Class Grade:</label>
    <span>@Model.ClassGrade</span>
</div>

<div>
    <label>Category:</label>
    <span>@Model.Category</span>
</div>

<div>
    <label>Fees:</label>
    <span>@Model.Fees</span>
</div>


